* {
    padding: 0;
    margin: 0;
    font-family: century gothic;
    text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #800080;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
   
    }

h1{
      text-align: center;
      padding: 12px;
      color: #000000
    }

h2 {
	text-align: center;
	padding: 12px;
	color: #088A08
}
    
input {
	width: calc(100% - 20px);
	background-color: #87CEEB;
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}

input [type='submit']{
      background-color: #2EFE2E; 
      color: #fff;
      width: calc(80% - 20px);
      margin: 0 10%; 
      margin-top: 22px; 
      border none;
}

.correctomtra{
    text-align center;
    width: 100%;
    padding: 12px;
    background-color: #FFFF00;
	color: #0040FF
}

.incorrectomtra{
	text-align: center;
	Width: 100%;
	padding: 12px;
	background-color: #FFFF00;
	color: #FF0000
}


