@import url(//fonts.googleapis.com/css?family=Lato:300:400);

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Lato',sans-serif;
}

/* ------------------------------
      ENCABEZADO RESPONSIVE
------------------------------- */
.inner-header{
  background-image:url(https://static.vecteezy.com/system/resources/previews/001/741/324/non_2x/blurred-shiny-blue-background-free-photo.jpg);
  background-size:cover;
  background-position:center;
  height:55vh; /* reducido para móvil */
  width:100%;
}

.header{
  position:relative;
  text-align:center;
  color:white;
}

h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:300;
  letter-spacing:2px;
  font-size:40px;
}

@media (max-width:600px){
  h1{
    font-size:26px;
  }
}

/* ------------------------------
       CARRUSEL 3D RESPONSIVE
------------------------------- */
.gallery2{
  width:100%;
  max-width:900px;
  height:70vh;
  border-radius:15px;
  margin:auto;
  background-image:url(https://www.xtrafondos.com/descargar.php?id=126&resolucion=1920x1080);
  background-size:cover;
  background-position:center;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
}

h2{
  text-align:center;
  font-size:40px;
  color:aqua;
  text-shadow:0px 0px 6px black;
  margin-top:40px;
}

/* Centro del carrusel */
.content-all{
  width:200px;
  height:200px;
  perspective:800px;
  margin:auto;
}

/* Carrusel */
.content-carrousel{
  width:100%;
  height:100%;
  position:absolute;
  animation:rotar 12s infinite linear;
  transform-style:preserve-3d;
}

.content-carrousel:hover{
  animation-play-state:paused;
}

/* Imágenes */
.content-carrousel figure{
  width:100%;
  height:120px;
  overflow:hidden;
  position:absolute;
  border-radius:12px;
  box-shadow:0px 0px 18px rgba(0,0,0,0.7);
  transition:300ms;
}

.content-carrousel img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.content-carrousel img:hover{
  transform:scale(1.2);
}

/* Posiciones de 10 imágenes */
.content-carrousel figure:nth-child(1){transform:rotateY(0deg) translateZ(250px);}
.content-carrousel figure:nth-child(2){transform:rotateY(36deg) translateZ(250px);}
.content-carrousel figure:nth-child(3){transform:rotateY(72deg) translateZ(250px);}
.content-carrousel figure:nth-child(4){transform:rotateY(108deg) translateZ(250px);}
.content-carrousel figure:nth-child(5){transform:rotateY(144deg) translateZ(250px);}
.content-carrousel figure:nth-child(6){transform:rotateY(180deg) translateZ(250px);}
.content-carrousel figure:nth-child(7){transform:rotateY(216deg) translateZ(250px);}
.content-carrousel figure:nth-child(8){transform:rotateY(252deg) translateZ(250px);}
.content-carrousel figure:nth-child(9){transform:rotateY(288deg) translateZ(250px);}
.content-carrousel figure:nth-child(10){transform:rotateY(324deg) translateZ(250px);}

/* Animación */
@keyframes rotar{
  from{ transform:rotateY(0deg); }
  to{ transform:rotateY(360deg); }
}

/* ------------------------------
         MODO MÓVIL
------------------------------- */
@media (max-width:600px){

  .gallery2{
    height:60vh;
    max-width:95%;
  }

  .content-all{
    width:150px;
    height:150px;
  }

  .content-carrousel figure{
    height:90px;
  }

  h2{
    font-size:28px;
  }
}

/* ------------------------------
        TABLET
------------------------------- */
@media (min-width:601px) and (max-width:900px){

  .gallery2{
    height:65vh;
  }

  .content-all{
    width:180px;
    height:180px;
  }

  .content-carrousel figure{
    height:110px;
  }

  h2{
    font-size:32px;
  }
}


