

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria{
    
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;    
    display: grid;
    grid-template-columns: repeat(auto-fit, 128px);
    grid-auto-rows:200px;
    justify-content:center;
    gap: 1rem;
    min-height: 1000px;
  
}

.galeria_item{
    
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    grid-column: span 2;
    height: 283px;
    transition: 0.5s filter;

}
.galeria_item:hover{
    filter: brightness(0.3);
}

.galeria_item:first-of-type{
    grid-column: 2 / span 2;
}


/* MEDIDA*/

@media screen and (main-whidth: 270px) and (max-whidth: 504px){
    .galeria_item:first-of-type{
        grid-column: 1 / span 2;
    }
    .galeria{
        grid-auto-rows: 283px;
    }    
}


@media screen and (min-width: 505px) and (max-width:685px){
    .galeria_item:nth-of-type(odd){
       grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 686px) and (max-width:862px){
    .galeria_item:nth-of-type(3n + 1){
       grid-column: 2 / span 2;
    }
}


@media screen and (min-width: 863px) and (max-width:1038px){
    .galeria_item:nth-of-type(4n + 1){
       grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1039px) and (max-width:1215px){
    .galeria_item:nth-of-type(5n + 1){
       grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1216px) and (max-width:1390px){
    .galeria_item:nth-of-type(6n + 1){
       grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1391px){
    .galeria_item:nth-of-type(7n + 1){
       grid-column: 2 / span 2;
    }
}
















@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}
.inner-header{
 background-image:url(https://static.vecteezy.com/system/resources/previews/001/741/324/non_2x/blurred-shiny-blue-background-free-photo.jpg)
}
.header {
  position:relative;
  text-align:center;

  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}
h1 img{
  width: 15px;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.agua {
  position:relative;
  width: 100%;
  height:17vh;
  margin-bottom:-7px; 
  min-height:100px;
  max-height:150px;
  background: linear-gradient(60deg, rgb(36, 19, 104) 0%, rgba(0,172,193,1) 100%);
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}


.gal{

  background-color: black;
}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}






.separador{
  width: 100%;
  height: 18px;
}





.gallery2 {
  display: flex;
  width: 1200px;
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center; 
  border-radius:15px;
  background-image: url(https://www.xtrafondos.com/descargar.php?id=126&resolucion=1920x1080);

  }
h2{
  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 80px;
  color: aqua;
  text-shadow: 0px 0px 6px black;
}

.content-all{
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 50px;


  
}
.content-carrousel{
  width: 50%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
  
}

.content-carrousel:hover{
  animation-play-state: paused;
  cursor: pointer;
}


.content-carrousel figure{
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;
  
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
}

.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}